.bill-amount {
  padding: 3rem 0 2rem;
  margin: 0 3rem;
}

.input-group {
  color: #757575;
  display: flex;
  font-size: var(--input-size);
  background: white;
  border: transparent;
  border-radius: 999rem;
  padding: 1rem;
}

.input-group-text {
  position: relative;
  left: 1rem;
}

.input-group:has(input:not([value=""])) {
  color: var(--text-color);
}

label,
.label {
  color: rgba(255, 255, 255, 0.9);
  font-size: var(--label-font-size);
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  text-align: center;
  padding-bottom: 1rem;
  margin: 0;
}

#bill {
  background: transparent;
  color: var(--text-color);
  caret-color: var(--text-color);
  border: none;
  font-size: var(--input-size);
  width: 100%;
  min-width: 2em;
  outline: 0;
  padding: 0 1rem;
}

.tip-percent {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

.tip-percent input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.tip-percent input + label {
  padding: 1rem;
  cursor: pointer;
}

.tip-percent input:checked + label {
  background: white;
  border-radius: 1rem;
  color: var(--text-color);
  padding: 1rem;
}

.summary {
  background-color: rgba(26, 26, 19, 0.15);
  border-radius: 1rem;
  color: white;
  text-align: center;
  padding: 2rem;
  margin: 2rem 3rem;
}

.summary p {
  font-size: var(--input-size);
  margin: 0;
}

.summary span {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: var(--label-font-size);
  text-transform: uppercase;
}
