:root {
  --label-font-size: 1.25rem;
  --text-color: #333;
  --input-size: 2rem;
  --input-border: 10px solid rgba(255, 255, 255, 0.5);
  --input-border-focus: 10px solid rgba(255, 255, 255, 0.8);
  --bg-gradient: linear-gradient(#358437, #51ad44);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--bg-gradient);
}

body {
  margin: unset;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.5;
}

button,
input,
textarea,
select {
  font: inherit;
}

canvas,
img,
picture,
video,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
